/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts */
@font-face {
  font-family: "Kamali";
  src: url("../assets/fonts/Kamali.ttf") format("truetype");
  font-display: swap;
}

:root {
  --bg: #f7f7f7;
  --bg-light: #ffffff;
  --primary: #054239;
  --text: #1a1a1a;
  --text-muted: #666;
  --border: #ddd;

  --radius: 1rem;
}

html {
  font-size: 16px;
}

body {
  font-family: Archivo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
