@media (min-width: 480px) {
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem 0 0.5rem 0;
  }

  .nav-title {
    display: none;
  }

  .nav-logo {
    max-width: 3.5rem;
    width: 100%;
  }

  .subnav-list {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }
  .nav,
  .subnav-list,
  .footer-content {
    padding-inline: 1rem;
  }

  .hero {
    margin: 1rem;
  }

  .hero-image {
    height: 220px;
  }

  .section-title {
    text-align: center;
  }

  .projects-grid {
    padding: 1rem;
  }

  .section {
    margin: 3rem 1rem 3rem 1rem;
  }

  .section-about {
    padding: 1rem;
  }
  .about {
    flex-direction: column;
    text-align: center;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
  }

  .about-image {
    max-width: 240px;
    margin-inline: auto;
  }

  .footer-content {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 1rem;
  }

  .section {
    margin: 3rem 1rem 3rem 1rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 77rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  .section {
    margin-block: 4rem;
    position: relative;
    animation: reveal 0.8s ease forwards;
  }
}
